---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { CiMonitor } from "react-icons/ci";
import AllLayout from "../../layouts/AllLayout.astro";
import GoBackButton from "../../components/astro/GoBackButton.astro";
import Tag from "../../components/react/Tag";

export const getStaticPaths = async () => {
    const projectsVirtua = await getCollection("projectsVirtua")
    const paths = projectsVirtua.map((projectVirtua) => {
        return {
            params: {
                slug: projectVirtua.slug
            },
            props: {
                projectVirtua            
            }
        }
    })
    return paths
}
type Props = {
    projectsVirtua: CollectionEntry<"projectsVirtua">
}

const {projectsVirtua} = Astro.props
const {Content} = await projectsVirtua.render()

---

<AllLayout title={`Projeto | ${projectsVirtua.slug}`}>
    <header class="w-full flex flex-col  items-center justify-between px-8  max-sm:pt-0 pb-4 relative gap-8">
        <div class="w-full flex items-center justify-between p-2">
            <GoBackButton/>
            <span class="text-xl font-bold">{projectsVirtua.data.projectType}</span>
        </div>
        <h1 class="text-7xl max-md:text-5xl font-extrabold text-center">{projectsVirtua.data.title}</h1>
        <div class="w-full flex flex-col items-center gap-4">
      
        <div class="flex items-center justify-center flex-wrap gap-4">
            {projectsVirtua.data.tags.map((tag) => (
                <Tag tag={tag}/>
            ))}
        </div>
      
        <div>
            {projectsVirtua.data.web_link && (
                <a href={projectsVirtua.data.web_link} target="_blank" rel="noopener noreferrer">
                    <CiMonitor className="text-white" size={32}/>
                </a>
            )}
        </div>
       </div>
        
    </header>
    <section class="w-full flex justify-center items-center px-4">
        <img src={projectsVirtua.data.video} alt="Gif" class="w-[1000px] shadow-xl rounded-xl"/>
    </section>
    

    <article class="w-full prose prose-code:text-white prose-white prose-a:text-blue-500 prose-headings:text-white  prose-strong:text-white prose-xl overflow-visible relative mb-4 prose-st:flex flex-col justify-center text-white mx-auto mt-16 font-roboto px-4">
        <Content/>
    </article>
</AllLayout>

