---
import { BriefcaseBusiness, Code, Coffee, Download, GraduationCap, NotebookPen, UserPlus } from "lucide-react";
import { AccordionExperience, type AccordionItemType } from "../react/about/experience/accordion-experience";
import { SectionTitle } from '@/components/react/about/section-title'
import { CertificateTooltip } from '@/components/react/about/education/certificate-tooltip'
import { AccordionTechnologies } from '@/components/react/about/tech/accordion-technologies'
import { Achievements, type CertificateItem } from '@/components/react/about/achievements/achievements'
import { motion } from "framer-motion";

import diploma from "../../assets/certificados/diploma.png";
import vptech from "../../assets/logo/vpTech.png";
import virtuabr from "../../assets/logo/virtuabrasil_logo.jpeg";


import { FaGithub, FaLinkedin } from "react-icons/fa";
import { Button } from "../ui/button";
import { LiaCertificateSolid } from "react-icons/lia";
import honra from "../../assets/certificados/honra.png";
import merito from "../../assets/certificados/merito.jpg";



const experienceItems: AccordionItemType[] = [
  {
    value: "virtua",
    position: "Desenvolvedor Fullstack Jr",
    company: "VirtuaBrasil",
    companyDescription: "Presencial · Jun 2024 – Set 2024",
    fallbackName: "VB",
    src: virtuabr.src, 
    workContent: `
• Desenvolvi sites como desenvolvedor front-end, utilizando tecnologias como HTML, CSS, Bootstrap, TailwindCSS, JavaScript, Typescript e React.
• Realizei manutenção em sites antigos, atualizando e otimizando funcionalidades para melhor desempenho e usabilidade.
• Atuei na manutenção de um projeto back-end em Java, corrigindo bugs e implementando autenticação OAuth.
• Implementei novas features com foco em inovação, atendendo pedidos de ajustes e novas demandas.
• Realizei atendimento direto ao cliente, garantindo alinhamento de expectativas e entregas de qualidade.
• Conduzi reuniões com clientes para entender requisitos e propor soluções personalizadas.
`,
  },
  {
    value: "vptech",
    position: "Desenvolvedor Front-End Jr",
    company: "VPTech",
    companyDescription: "Remoto · Out 2023 – Jan 2024",
    fallbackName: "VP",
    src: vptech.src, 
    workContent: `
• Realizei todo o processo de engenharia de software, incluindo a participação em entrevistas com a cliente, levantamento de requisitos, desenvolvimento, apresentação e deploy de um site personalizado.
• Fui responsável pelo desenvolvimento do site da empresa, estruturando o estilo e a organização para atender às necessidades de marca e experiência do usuário.
• Garanti a responsividade e acessibilidade do site em diversos dispositivos e navegadores.
`,
  },
];

const certificatesData: CertificateItem[] = [
  {
    id: "cert1",
    title: "🏆 Prêmio CREA-SP – Formandos 2024: O Futuro da Engenharia",
    description:
      "Reconhecimento do Conselho Regional de Engenharia e Agronomia de São Paulo pelo destaque acadêmico no curso de Engenharia de Computação – Universidade de Taubaté (UNITAU).",
    src: merito.src,
    fallbackName: "Prêmio CREA-SP",
  },
  {
    id: "cert2",
    title: "🎖️ Certificado de Honra ao Mérito CREA-SP",
    description:
      "Concedido pelo Conselho Regional de Engenharia e Agronomia de São Paulo por destaque acadêmico no curso de Engenharia de Computação – Universidade de Taubaté (UNITAU).",
    src: honra.src,
    fallbackName: "Honra ao Mérito",
  },
];

---

<motion.section
  id="about"
  client:visible   
  initial={{ opacity: 0, y: 30 }}
  whileInView={{ opacity: 1, y: 0 }}
  transition={{ duration: 0.6 }}
  className="scroll-mt-24 h-full dark:bg-neutral-700/50 bg-neutral-100 rounded-lg z- shadow-2xl backdrop:shadow-2xl max-sm:mt-20 mx-4">
  <main  class=" z-20 py-8 px-4 md:px-6 lg:px-8">
    <div   class="grid lg:grid-cols-3 gap-16">
      
      <header class="space-y-8">
        <div>
          <h1 class="text-4xl font-light text-neutral-950 dark:text-neutral-200 mb-2">
            Olá!
          </h1>
          <p class="text-lg text-neutral-950 dark:text-neutral-200 leading-relaxed">
            Eu sou <span class="italic">Relâncio</span>{" "}
            <span class="font-light">Borges dos Santos</span>,<br />
            desenvolvedor full-stack<br />
            baseado no Brasil.
          </p>
        </div>
      
        <figure class="w-64 h-80 bg-gray-100 rounded-lg overflow-hidden shadow-lg">
          <img
            src="https://github.com/RelancioBorgesDev.png"
            alt="Relâncio Borges dos Santos"
            width={256}
            height={320}
            class="w-full h-full object-cover"
          />
        </figure>
      
        <section class="space-y-4">
          <p class="text-neutral-950 dark:text-neutral-200 leading-relaxed">
            Sou graduado em <span class="font-semibold">Engenharia da Computação</span> 
            e tenho experiência profissional como <span class="font-medium">Desenvolvedor Fullstack Jr</span> 
            na VirtuaBrasil (2024) e como <span class="font-medium">Desenvolvedor Front-End Jr</span> 
            na VPTech (2023–2024). Nessas experiências, participei de todas as etapas do desenvolvimento, 
            desde o contato com clientes até a entrega final.
          </p>
      
          <p class="text-neutral-950 dark:text-neutral-200 leading-relaxed">
            Trabalho com <span class="font-medium">JavaScript, Typescript, React, Node.js, TailwindCSS</span>, 
            além de back-end em Java. Atualmente desenvolvo projetos com 
            <span class="font-medium">NestJS, Fastify, PostgreSQL, Docker e Kubernetes.</span>
          </p>
   
        </section>
      </header>

      <section class="space-y-12" aria-labelledby="experience-education">
        <article>
          <SectionTitle icon={BriefcaseBusiness} title="Experiência"/>
          <AccordionExperience 
            items={experienceItems}
            type="single"
            collapsible={true}
            className="w-full text-neutral-600"
            client:load 
          />
        </article>

        <article>
          <SectionTitle icon={GraduationCap} title="Educação" />
          
          <div class="flex flex-col gap-2">
            <div>
              <h3 class="text-neutral-950 dark:text-neutral-100 font-semibold">Bacharelado</h3>
              <p class="text-neutral-950 dark:text-neutral-200">Engenharia de Computação</p>
              <p class="text-neutral-950 dark:text-neutral-200">Universidade de Taubaté | 2020–2024</p>
            </div>
            <div class="w-fit">
              <CertificateTooltip
                client:load
                images={[diploma.src]}
              >
                <Button
                  size="sm"
                  variant="secondary"
                  className="flex cursor-pointer items-center gap-2 rounded-full transition dark:bg-neutral-500/50 text-neutral-950 dark:text-neutral-200"
                >
                  <LiaCertificateSolid size={18} className="text-blue-950 dark:text-blue-200"/>
                  Certificado
                </Button>
              </CertificateTooltip>
            </div>
          </div>
        </article>


        <article class="w-full">
          <SectionTitle icon={Code} title="Tecnologias"/>
          <div class="gap-8 w-full">
            <AccordionTechnologies client:load/>
          </div>
        </article>
      </section>

      <aside class="space-y-8">
        <section>
          <SectionTitle icon={Coffee} title="Vamos conversar? "/>
          <address class="w-fit not-italic space-y-2">
            <a href="mailto:relancio.dev@gmail.com" 
               class="text-neutral-950 dark:text-neutral-200 hover:underline font-medium flex items-center gap-2 cursor-pointer hover:fill-gray-900">
              relancio.dev@gmail.com
            </a>
          </address>
        </section>

        <nav aria-label="Redes Sociais">
          <SectionTitle icon={UserPlus} title="Siga-me"/>
          <ul class="space-y-2">
            <li>
              <a
                href="https://www.linkedin.com/in/relancioborges/"
                class="w-fit flex items-center gap-2 text-neutral-950 dark:text-neutral-200 hover:text-blue-600 transition-colors"
                target="_blank"
                rel="noopener noreferrer"
              >
                <FaLinkedin size={18} /> LinkedIn
              </a>
            </li>
            <li>
              <a
                href="https:https://github.com/RelancioBorgesDev"
                class="w-fit flex items-center gap-2 text-neutral-950 dark:text-neutral-200 hover:text-gray-800 transition-colors"
                target="_blank"
                rel="noopener noreferrer"
              >
                <FaGithub size={18} /> GitHub
              </a>
            </li>
          </ul>
        </nav>

        <Achievements certificates={certificatesData} client:visible/>

        <footer class="space-y-2 mt-5">
          <SectionTitle icon={NotebookPen} title="Valores"/>
          <ul class="space-y-3 text-sm text-neutral-950 dark:text-neutral-200">
            <li>🤝 Comunicação clara e proativa</li>
            <li>🧩 Resolução de problemas complexos</li>
            <li>📚 Aprendizado contínuo e curiosidade</li>
          </ul>
        </footer>

        <!-- <div>
          <a
            href="/curriculo.pdf"
            target="_blank"
            rel="noopener noreferrer"
            download
            class="inline-flex items-center gap-2 px-4 py-2 text-neutral-950 dark:text-neutral-200 dark:bg-neutral-700/50 bg-neutral-100 rounded-xl shadow  transition-colors"
          >
            <Download size={20} />
            Baixar Currículo
          </a>
        </div> -->
      </aside>


    </div>
  </main>
</motion.section>
