---
import GithubAnalytics from '../../assets/user_auth/GithubAnalytics.png';
import { ProjectCard } from '../react/projects/project-card';
import { TextType } from '@/components/react/react-bits/text-type';
import { Filters } from '../react/projects/filters';
import { FaNodeJs, FaReact } from 'react-icons/fa';


const projects = [
  {
    title: "Code Screenshot",
    categories: ["Development", "Design"],
    year: "2024",
    image: GithubAnalytics,
    langs: [
      { icon: FaReact, lang: "React" },
      { icon: FaNodeJs, lang: "Node.js" },
    ],
  },
];

let selectedCategory = 'All';
---

<section class="text-white min-h-screen px-8 py-16">
  <div class="flex items-center justify-between gap-6 mb-10 max-lg:flex-col">
    <h1>
        <TextType client:visible text={"Meus Projetos."} className='text-5xl font-bold font-permanent text-neutral-950'/>
    </h1>
    <Filters client:visible/>
  </div>

  <div class="grid md:grid-cols-2 gap-12 ">
    {projects
      .filter(p => selectedCategory === 'All' || p.categories.includes(selectedCategory))
      .map(project => (
        <ProjectCard project={project} />
        <ProjectCard project={project} />
        <ProjectCard project={project} />
        <ProjectCard project={project} />
        <ProjectCard project={project} />
      ))}
  </div>
</section>
