---
import { ArrowBendDownLeft } from "phosphor-react";
import {getCollection} from "astro:content"
import ProjectCard from "../components/astro/ProjectCard.astro";
import AllLayout from "../layouts/AllLayout.astro";
import Tag from "../components/react/Tag";
import GoBackButton from "../components/astro/GoBackButton.astro";
const projects = await getCollection("project")

const uniqueTags: string[] = [];
projects.forEach((project) => {
    project.data.tags.forEach((tag) => {
        if (!uniqueTags.includes(tag)) {
            uniqueTags.push(tag);
        }
    });
});

---

<AllLayout title="Meus Projetos" transition:animate={"fade"}>
    <header class="bg-zinc-800 flex flex-col items-center justify-center w-full font-rubik gap-4 py-6 px-4 relative shadow-2xl max-sm:items-start">

            <a href="javascript:history.back()" class="hidden max-sm:block" >
                <button class="flex  gap-2 bg-tag-2 px-4 py-2 rounded-xl hover:brightness-75">
                    <ArrowBendDownLeft size={22} />
                    Voltar
                </button>
            </a>
        <h1 class="max-md:w-full text-6xl  max-md:text-center font-bold drop-shadow-xl">Meus Projetos</h1>
        <p class="max-sm:text-center">Aqui está uma coleção de alguns dos meus projetos pessoais, desafios, projetos de cursos e projetos de faculdade</p>
        <div class="flex items-center gap-2">
            <div class="w-full flex items-center gap-2">
                <div class="w-full flex flex-wrap items-center justify-center gap-2">
                    {uniqueTags.map((tag) => (
                        <Tag tag={tag}/>
                    ))}
                </div>
            </div>

        </div>
        <div class="max-sm:hidden absolute top-0 left-10">
            <GoBackButton/>
        </div>
    </header>
    
    <section class="w-full grid grid-cols-3 place-content-center place-items-center gap-7 p-8 max-xl:px-4 max-xl:grid-cols-2 max-lg:flex max-lg:flex-wrap max-sm:p-4 max-sm:gap-4">
        {projects.map((project) => (
            <a href={`/project/${project.slug}`} class="flex items-center justify-center " >
                <ProjectCard title={project.data.title} description={project.data.description} projectType={project.data.projectType} date={project.data.date} tags={project.data.tags} card_image={project.data.card_image}/>
            </a>
        ))}
    </section>
    

</AllLayout>